
@media screen and (min-width: 768px) {
    #leftsidebar {width: 400px; float: left;}
    #main {margin-left: 400px;}
} 

header {
    background-color:black;
    
    font-size: 20px; 
}


body {
    background-color: darkgrey;
}


p {
    color: black;
    font-size: 1em;
    margin-bottom: 2em;
}

#headshot {
height: 250px;
width: 200px;

}

#ramsey {
height: 200px;
width: 200px;
}

#malandfrank {
height: 250px;
widows: 250px;
}