
@media screen and (min-width: 768px) {
    #leftsidebar {width: 400px; float: left;}
    #main {margin-left: 400px;}
} 

header {
    background-color:rgb(14, 204, 188);
    font-size: 20px; 
    height: 0em;
    width: 0em;
}
#destin {
    width: stretch;

}


body {
    background-color: darkgrey;
}


p {
    color: rgb(53, 35, 35);
    font-size: 1em;
    margin-bottom: 2em;
}
p1 {
    color: aliceblue;
}
p2 {
    color: aliceblue;
}
p3 {
    color: aliceblue;
}
p4 {
    color: aliceblue;
}

    }

#headshot {
height: 250px;
width: 200px;

}

#ramsey {
height: 200px;
width: 200px;
}

#malandfrank {
height: 250px;
widows: 250px;
}

#needlepoint {
height: 150px;
weight: 150px;
}

#running {
    height: 150px;
    weight: 150px;
}

#tennis-img {
    transform-origin: top left; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left; /* Chrome */
    -ms-transform-origin: top left; /* IE 9 */
}
#tennis-img.rotate90 {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
}
#tennis-img.rotate180 {
    transform: rotate(180deg) translate(-100%,-100%);
    -webkit-transform: rotate(180deg) translate(-100%,-100%);
    -ms-transform: rotate(180deg) translateX(-100%,-100%);
}
#tennis-img.rotate270 {
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
}
#tennis-img{
    height: 150px;
    width: 150px;
}